.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(95, 70, 207);
  z-index: 10;
  color: white;
}
