@import "tailwindcss";
@source "../**/*.{ts,tsx}";

@keyframes fade-in {
    from {
        transform: translateY(-2px) scale(0.95);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes bg-in {
    from {
        opacity: 0;
        backdrop-filter: blur(0);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(2px);
    }
}

@keyframes view-enter {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes view-exit {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.05);
    }
}
