@import "tailwindcss";

:root,
:host {
    --color-body-background: var(--lv-body-background);
    --radius-radius: var(--lv-border-radius);
    font-family: var(--lv-font-family);
}

.border {
    border-style: solid;
}

@keyframes fade-in {
    from {
        transform: translateY(-2px) scale(0.95);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes bg-in {
    from {
        opacity: 0;
        backdrop-filter: blur(0);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(2px);
    }
}

.modal-transition__container {
    position: relative;
    display: grid;
}

.modal-transition__layer {
    grid-area: 1 / 1;
    width: 100%;
    will-change: transform, opacity;
}

.modal-transition__layer--outgoing {
    z-index: 2;
    animation: modal-transition-out 200ms ease-out forwards;
    position: absolute;
}

.modal-transition__layer--incoming {
    animation: modal-transition-in 200ms ease-out forwards;
}

[data-openlv-theme-mode="dark"] img[data-openlv-brand-logo] {
    filter: invert(1) brightness(1.1);
}

[data-openlv-theme-mode="system"] img[data-openlv-brand-logo] {
    @media (prefers-color-scheme: dark) {
        filter: invert(1) brightness(1.1);
    }
}

@keyframes modal-transition-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-transition-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.05);
    }
}
